body {
    font-family: Arial, sans-serif;
    background-color: #F2E7C9; /* Mostaza suave */
    color: #4A2C2A; /* Café oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #8C6046; /* Café medio */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    color: #F2E7C9; /* Mostaza claro */
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #F2E7C9;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 4px;
    background-color: #F2E7C9; /* Mostaza claro */
    color: #4A2C2A; /* Café oscuro */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D4A441; /* Mostaza intenso */
    border: none;
    border-radius: 4px;
    color: #4A2C2A; /* Café oscuro */
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #C18A2B; /* Mostaza oscuro */
}

.terms {
    font-size: 12px;
    color: #F2E7C9;
    text-align: center;
    margin-top: 20px;
}

.login {
    margin-top: 20px;
    text-align: center;
}

.login a {
    color: #F2E7C9;
    text-decoration: none;
}

.login a:hover {
    color: #D4A441;
}
